{% extends 'base.html.twig' %}

{% block title %}Mamieton{% endblock %}

{% block body %}

 <h1>Mamieton les recettes !</h1>
    <p>
        Venez ajouter vos meilleurs recettes sur Mamieton !
    </p>

 <h2>Retrouvez notre dernier magazine dans tout vos marchands de kiosque preferé</h2>
  <img src="{{ asset("cover.jpg") }}" class="background--page" alt="...">


{% endblock %}
